.section__features{

   
 }
 .section__header{
     padding: 4rem;
  
     height: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
    color: #2557a7;
     
     gap: 2rem;
 }
 .section__h2{
     font-size: 60px;
     font-family: 'Barlow', sans-serif;
     font-weight:450;
    
 }
 .section__wrapper{
     display: flex;
     justify-content: center;
     gap:2rem;
     flex-wrap:wrap;
 }