.inlog-section {

  padding-top: 5%;



  
}
.title-inlog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    gap: 2rem;
    

   


}
.forms-inlog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    padding: 1% 14%;
    border: 1px solid rgb(37, 87, 167);
    border-radius: 8px;
 
}
.btn-inlog  {
  border: none;
    color: rgb(255, 255, 255);
    background: rgb(48, 88, 162);
    padding: 0.5625rem 1rem;
    border-radius: 0.6rem;
    font-size: 2rem;
}

.inputinlog  {
  text-align: center;
  padding: 15px 10px;
  border-radius: 8px;
  border: 1px solid rgb(37, 87, 167);


}
