
.footer__ul{
    display: flex;

    padding: 2rem;
    gap: 12rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    
}

.footer__li{
    list-style: none;
    
    
}
.footer__li:hover{
    text-decoration: underline
    ;}
.footer__li:active{
    border-bottom:  1px inset blue;


}
.footer__button{
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(48, 88, 162);
    padding: 0.8rem 2rem;
    border-radius: 0.6rem;
    font-size: 2rem;
}
.footer__button:hover{
    background: rgb(32, 65, 125);
}
.navigation__button:active{
  
}
.footer__top{
   background: #f3f2f1;;
    margin-top: 3rem;
    padding: 3rem;
}